<form id="form-new-product" #newForm="ngForm" (ngSubmit)="addProduct($event)">
  <div class="form-group">
    <label for="name" class="label">Produto:</label>
    <input type="text" id="name" name="name" required class="input" [(ngModel)]="product.name" #name="ngModel">

    <div class="error-msg" [hidden]="name.valid || name.pristine || submitted">Digite um nome</div>
  </div>

  <div class="form-group">
    <label for="quantity" class="label">Quantidade:</label>
    <input type="number" id="quantity" name="quantity" required class="input" [(ngModel)]="product.quantity" #quantity="ngModel">

    <div class="error-msg" [hidden]="quantity.valid || quantity.pristine || submitted">Digite uma quantidade</div>
  </div>

  <app-button text="Enviar" type="submit" [disabled]="!newForm.form.valid"></app-button>
</form>
