.list-products {
  .name,
  .quantity { width: 50%; }

  .title {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 10px;
    text-transform: uppercase;

    .remove-product {
      opacity: 0;
      width: 20%;
    }
  }

  .remove-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}
